{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "rules": {
    # Jsx a11y
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",

    # React
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "react/forbid-prop-types": "off",
    "react/no-unused-prop-types": "off",

    # Style
    "brace-style": ["error", "stroustrup", { allowSingleLine: true }],
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "ignoreUrls": true }, { "ignoreStrings": false }, { "code": 100 }],
    "no-console": "warn",
    "no-debugger": "warn",
    "no-irregular-whitespace": ["error", { skipTemplates: true }],
    "no-mixed-operators": ["error", { allowSamePrecedence: true }],
    "no-plusplus": ["error", { allowForLoopAfterthoughts: true }],
    "no-restricted-globals": "error",
    "no-trailing-spaces": ["error", { skipBlankLines: true }],
    "no-underscore-dangle": "off",
    "object-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true
  }
}
