# Externals scripts
/vendor

# Mac Thumbs Files
.DS_Store

# Dependencies NPM / Yarn
node_modules
package-lock.json

# Debug log NPM / Yarn
npm-debug.log
yarn-error.log

# Files compiled
/public
/build
# /dist
